.Navbar
{
    background-color: white;
    padding:10px 0px;
}
.search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
}
.search-input{
    display: none;
}
.Navbar-container
{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo img
{
    height:88px;
    width:80px;
}

.heading {
    font-family: 'Domine', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.header-logos {
    display: flex;
    gap: 12px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    flex-wrap: wrap;
  }
.header-logo {
    width: 50px; 
    height: auto;
    transition: transform 0.3s ease;
  }  

.english-heading
{
    font-weight: 700px;
    font-size: 24px;
    color: #0033B8;
}

.hindi-heading
{
    font-weight: 400px;
    font-size: 24px;
    color: #B80000;
}



@media only screen and (max-width: 600px) 
{
    .header-logo {
        width: 40px; 
        height: auto;
      }
    .logo img
    {
        height:44px;
        width:44px;
    }

    .english-heading
    {
    font-size: 14px; 
    }

    .hindi-heading
    {    
        font-size: 14px;
    }
  }


  @media only screen and (max-width: 900px) 
  {
    .logo img
    {
        height:44px;
        width:44px;
    }

    .english-heading
    {
        font-size: 14px;
       
    }

    .hindi-heading
    {
        font-size: 14px;
       
    }

    .search
    {
        display: none;
    }
  }

  @media only screen and (max-width: 1280px){
        .english-heading
    {
        font-size: 20px;
       
    }

    .hindi-heading
    {
        font-size: 20px;
       
    }
  }